.hero__container {
  width: 100%;
  min-height: 600px;
  height: 100%;
  background-color: black;
  background-position-y: "top";
  background-position-x: "center";
  background-blend-mode: "overlay";
  margin-bottom: 2rem;
  .hero__content {
    width: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    text-align: left;
    align-items: center;
  }
}
